.wrapper {
    width: 100%;
    height: calc(100% - 232px);
    background-color: #242424;
}

.content {
    width: 80%;
    min-height: 80%;
    margin: auto;
    background-color: #424242;
}

.header-controls {
    text-align: right;
    padding: 5px;
}

.header-controls clr-icon {
    cursor: pointer;
}

.form-content {
    padding: 20px;
}

h3 {
    color: #ffffff !important;
    font-family: CiscoSansTTBold;
}

input, label {
    color: #ffffff !important;
    font-family: CiscoSansTTRegular;
}

.radio-line {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 33%, transparent 0%);
    background-size: 4px 100%;
    background-repeat: repeat-x;
    height: 1px;
    width: 100%;
}

mat-radio-button {
    margin-left: 10px;
}

.title, .design-title {
    font-family: CiscoSansTTBold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -2px;
}

#vnet-name, #vnet-name-not-deployed, .verdict-title, .radio-inline, .progress-text {
    color: #ffffff;
    font-family: CiscoSansTTRegular;
    font-size: 20px;
    letter-spacing: -1.5px;
}

fieldset {
    border: 1px solid #858585;
    border-radius: 10px;
    min-height: 150px;
    margin: 10px 0 10px 0;
    position: relative;
}

legend {
    width: auto;
    padding: 0 8px;
    margin-left: 50px;
    color: #ffffff;
    font-family: CiscoSansTTRegular;
    font-size: 18px;
}

.field-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 20px;
    margin: 0 20px;
    width: 100%;
}

.form-steps {
    width: 80%;
    margin: auto;
}

.radio-inline {
    margin-left: 15px;
}

.btn1 {
    margin-top: -5px;
    min-width: 182.53px;
}

.btn1.working {
    background-color: #2E2E2E !important;
    border-color: #2E2E2E !important;
}


.left, .right {
    display: inline-block;
    width: 49%;
}

.right {
    padding-right: 20px;
}

.btn2, .progress {
    display: inline-block;
}

.btn2 {
    border-radius: 15px;
    height: 32px;
    line-height: 32px;
}

.btn2:disabled {
    background-color: #2E2E2E !important;
    border-color: #2E2E2E !important;
    cursor: initial !important;
}

.progress {
    max-width: 70%;
}

.validation {
    position: relative;
    top: -5px;
}

.progress-text {
    letter-spacing: normal;
}

.loaded-text {
    color: #ffffff;
    font-family: CiscoSansTTRegular;
    font-size: 18px;
    font-style: italic;
}
