<app-dashboard-widget></app-dashboard-widget>
<div class="wrapper" id="blockchain">
  <div fxFlex fxLayout="column" fxLayoutAlign="center none">
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center none">
      <mat-card fxFlex="80" fxLayout="column" *ngIf="!loading">
        <div class="header-controls">
          <a routerLink="/dashboard"><img src="/assets/images/icons/window-close-line.svg" width="40" height="40"></a>
        </div>
        <mat-card-header fxFlex="20">
          <mat-card-title fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
            <h3 fxFlex fxLayout="row" fxLayoutAlign="center center">Detail of Block #{{item.height}}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxFlex fxLayout="column">

          <!-- <div fxFlex="8" fxLayout="row" fxLayoutAlign="space-between none">
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="none">
              <div fxFlex fxLayout="row" fxLayoutAlign="space-between none">
                <mat-form-field fxFlex="31%">
                  <input matInput value="{{item.time}}" placeholder="Time" disabled>
                </mat-form-field>
                <mat-form-field fxFlex="31%">
                  <input matInput value="{{item.nonce}}" placeholder="Nonce" disabled>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="none">
              <div fxFlex fxLayout="row" fxLayoutAlign="space-between none">
                <mat-form-field fxFlex="50%">
                  <input matInput value="{{item.size}}" placeholder="Size" disabled>
                </mat-form-field>
                <mat-form-field fxFlex="23">
                  <input matInput value="{{item.tx.length}}" placeholder="Transactions" disabled>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxFlex="8" fxLayout="row" fxLayoutAlign="space-between none">
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="none">
              <mat-form-field>
                <input matInput value="{{item.hash}}" placeholder="Current Block Hash" disabled>
              </mat-form-field>
            </div>
            <div fxFlex="49" fxLayout="column" fxLayoutAlign="none">
              <div fxFlex fxLayout="row" fxLayoutAlign="space-between none">
                <mat-form-field fxFlex="50%">
                  <input matInput value="{{item.miner}}" placeholder="Miner" disabled>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxFlex="8" fxLayout="row"></div> -->

          <div fxFlex fxLayout="column" fxLayoutAlign="none">
            <app-transaction-table-widget [data]="transactions" [loading]="loadingTransactions"></app-transaction-table-widget>
          </div>

        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="80" fxLayout="column" *ngIf="loading">
        <mat-card-header fxFlex="10">
          <mat-card-title fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
            <h3 fxFlex fxLayout="row" fxLayoutAlign="center center">Detail of Block #</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="center center">

          <mat-spinner></mat-spinner>

        </mat-card-content>
      </mat-card>


    </div>
  </div>
</div>