<app-dashboard-widget></app-dashboard-widget>
<div class="wrapper" id="blockchain">
  <div fxflex="80" fxLayout="column" fxLayoutAlign="center" class="content">
      <div class="header-controls">
        <a routerLink="/dashboard"><img src="/assets/images/icons/window-close-line.svg" width="40" height="40"></a>
      </div>
      <div fxflex fxLayout="row" class="title text-center" fxLayoutAlign="space-around none">Business Transaction Log</div>
      <mat-card class="transaction-table" fxFlex fxLayout="row" fxLayoutAlign="center start" style="overflow-y: auto; height:90%" *ngIf="!loading">
        <table class="material-table" fxFlexFill matSort (matSortChange)="sortData($event)">
          <thead>
          <tr>
            <th mat-sort-header="timestamp">Date & Time</th>
            <th mat-sort-header="oem">OEM</th>
            <th mat-sort-header="designName">VNet Design Name</th>
            <th mat-sort-header="companyName">Company Name</th>
            <th mat-sort-header="action">Action</th>
            <th mat-sort-header="value">Value</th>
            <th mat-sort-header="blockNumber">Block #</th>
          </tr>
          </thead>
          <tbody [ngClass]="{'align-top': !loading && data.length}">
          <tr *ngFor="let transaction of sortedData" >
            <td>{{transaction.time}}</td>
            <td>{{transaction.oem}}</td>
            <td>{{transaction.designName}}</td>
            <td>{{transaction.companyName}}</td>
            <td>{{transaction.action}}</td>
            <td>{{(transaction.value)}}</td>
            <td>{{(transaction.blockNumber)}}</td>
          </tr>
          <tr *ngIf="!loading && !data.length">
            <td colspan="7" style="border-bottom: none">No Data available</td>
          </tr>
          </tbody>
        </table>
      </mat-card>
      <mat-card fxFlex fxLayout="row" fxLayoutAlign="center center" style="overflow-y: auto; height:90%" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </mat-card>
    </div>

</div>
